@import "shared/variables/colors";

.navbar {
  &-base-theme {
    background-color: $unl-base-theme;
  }
  &-bg-base-theme {
    background-color: $unl-base-theme;
  }
  &-brand {
    font-size:100px
  }
  &-header {
    background-color: $unl-base-theme;
  }
}
.bg-base-theme {
  background-color: $unl-base-theme !important;
}

.base-theme {
  background-color: red !important;
}
.btn {
  &-home {
    width: 200px
  }
}